@model InstructorDetailVM
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Image</th>
                <th scope="col">FullName</th>
                <th scope="col">Position</th>
                <th scope="col">SocialMedias</th>
                <th scope="col">Created Date</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><img style="width: 200px;" src="~/assets/img/@Model.Image" /></td>
                <td>@Model.FullName</td>
                <td>@Model.Position</td>
                <td>@Model.SocialMedias</td>
                <td>@Model.CreatedDate</td>
            </tr>
        </tbody>
    </table>
</div>

