@model CourseCreateVM
<div class="container">

    <div class="row mt-3">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <div class="card-title">Vertical Form</div>
                    <hr>
                    <form method="post" asp-action="Create" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="input-1">Course</label>
                            <input asp-for="Name" class="form-control" id="input-1">
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label for="input-1">EndTime</label>
                            <input asp-for="EndTime" type="date" class="form-control" id="input-1">
                            <span asp-validation-for="EndTime" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label for="input-1">StartTime</label>
                            <input asp-for="StartTime" type="date" class="form-control" id="input-1">
                            <span asp-validation-for="StartTime" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label for="input-1">Description</label>
                            <input asp-for="Description" class="form-control" id="input-1">
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label for="input-1">Price</label>
                            <input asp-for="Price" type="number" class="form-control" step="any" min="0" id="input-1">
                            <span asp-validation-for="Price" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label for="input-1">Rating</label>
                            <select asp-for="Rating" class="form-select" aria-label="Default select example">
                                <option selected>Open this select menu</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>

                            </select>
                        </div>
                       
                        <div class="form-group">
                            <label for="input-1">Category</label>
                            <select asp-for="CategoryId" asp-items="@ViewBag.categories" class="form-control"></select>
                        </div>
                        <div class="form-group">
                            <label for="input-1">Instructors</label>
                            <select asp-for="InstructorId" asp-items="@ViewBag.instructors" class="form-control"></select>
                        </div>
                        <div class="form-group">
                            <label for="input-1">Images</label>
                            <input asp-for="Images" class="form-control" id="input-1" maxlength="100" placeholder="Course ...">
                            <span asp-validation-for="Images" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <button type="submit" class="btn btn-light px-5"> Submit</button>
                            <a class="btn btn-light px-5" asp-action="Index"> Cancel</a>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div><!--End Row-->
    <!--start overlay-->
    <div class="overlay toggle-menu"></div>
    <!--end overlay-->

</div>

