@model SocialMediaDetailVM
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">SocialMedia</th>
                <th scope="col">Icon</th>
                <th scope="col">CreatedDate</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.Name</td>
                <td><i class="@Model.Icon"></i></td>
                <td>@Model.CreatedDate</td>
            </tr>
        </tbody>
    </table>
</div>






